// custom styles for this project only

.title {
  text-align: left;
}

h4.title {
  margin: 0 0 0 $space-half;
}

/* this should be an h3 */
.title.goudy_sans {
  color: $color-primary;
  font-family: $font-terciary;
  font-size: $font-size * 1.125;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: normal;
}

.title__page {
  width: auto;
  margin: $space2x auto $space4x;
  text-align: center;

  &.goudy_sans {
    font-family: $font-terciary;
    text-transform: uppercase;
    font-size: 38px;
    line-height: 40px;
    letter-spacing: 1.5px;
    color: rgba(160, 160, 160, 1);
  }
}

.title__section {
  width: auto;
  margin: 0 auto $space2x;
  text-align: center;
}

.protfolio {
  & .article {
    align-items: stretch;
  }

  & .figure {
    position: relative;
    width: 75%;
    margin-right: auto;
  }

  & .aside {
    justify-content: center;
    align-items: center;
    align-content: center;
    flex: 1 1 auto;
    width: 25%;
    margin-left: auto;
    padding: 0 0 0 $space2x;

    & > * {
      padding: $space2x 0;

      &:first-child {
        padding-top: 0;
      }
    }
  }
}

.dotm { // Drawing of the Month

  & .article > div {
    width: 50%;
    float: left;

    &.container__image {
      text-align: right;
      padding: 0;
    }

    &.bodytext {
      text-align: justify;
    }
  }

  & .aside {
    width: 50%;
    margin: 0 auto $space4x;
    text-align: center;
    padding: 0;
  }
}

.materials,
.bodytext {
  font-family: $font-primary;
  font-size: $font-size * 0.875;
}

.bodytext {
  line-height: 16px;
  padding-right: $space;
}
